<h1 mat-dialog-title>
  {{ userCurrentName && "Informações de " + userCurrentName.split(" ")[0] }}
</h1>
<div mat-dialog-content class="container">
  <form [formGroup]="user">
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input
        matInput
        placeholder="Nome de usuário"
        formControlName="name"
        name="name"
        required
      />

      <mat-error *ngIf="user.controls.name.errors">
        Campo obrigatório
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>E-mail</mat-label>
      <input
        matInput
        placeholder="seunome@email.com"
        email
        formControlName="email"
        name="email"
        required
      />

      <mat-error *ngIf="user.controls.email.errors?.required">
        Campo <strong>obrigatório</strong>
      </mat-error>

      <mat-error *ngIf="user.controls.email.errors?.email">
        E-mail inválido
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Cargo</mat-label>
      <input
        matInput
        placeholder="Ex: Desenvolvedor Frontend Angular JR"
        formControlName="role"
        name="role"
        required
      />
      <!-- <ng-container *ngIf="user.controls.role.touched"> -->
      <mat-error *ngIf="user.controls.role.errors">
        Campo <strong>obrigatório</strong>
      </mat-error>
      <!-- </ng-container> -->
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Data de nascimento</mat-label>
      <input
        type="date"
        matInput
        placeholder="Ex: 20/06/1989"
        formControlName="bornDate"
        name="bornDate"
        required
      />
      <mat-error *ngIf="user.get('bornDate').hasError('required')">
        Campo <strong>obrigatório</strong>
      </mat-error>

      <mat-error *ngIf="user.get('bornDate').hasError('minAge')">
        Idade <strong>não</strong> pode ser menor de 18 anos
      </mat-error>
    </mat-form-field>
  </form>

  <button
    mat-raised-button
    color="primary"
    [disabled]="!user.valid"
    (click)="handleUpdateUser()"
  >
    Salvar
  </button>

  <button mat-raised-button (click)="closeUpdateUserModal()">Cancelar</button>
</div>
