<mat-dialog-content class="modal-create">
  <mat-card-title> Cadastre um novo usuário </mat-card-title>
  <form [formGroup]="user">
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input
        matInput
        placeholder="Nome de usuário"
        formControlName="name"
        name="name"
        required
      />

      <mat-error *ngIf="user.controls.name.hasError('required')">
        Campo <strong>obrigatório</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        formControlName="email"
        [errorStateMatcher]="matcher"
        placeholder="seunome@email.com"
        name="email"
      />

      <mat-error
        *ngIf="
          user.controls.email.hasError('email') &&
          !user.controls.email.hasError('required')
        "
      >
        Informe um email válido
      </mat-error>

      <mat-error *ngIf="user.controls.email.hasError('required')">
        Campo <strong>obrigatório</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Cargo</mat-label>
      <input
        matInput
        placeholder="Ex: Desenvolvedor Frontend Angular JR"
        formControlName="role"
        name="role"
        required
      />

      <mat-error *ngIf="user.controls.role.hasError('required')">
        Campo <strong>obrigatório</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Data de nascimento</mat-label>
      <input
        type="date"
        matInput
        placeholder="Ex: 20/06/1989"
        formControlName="bornDate"
        name="bornDate"
        required
      />

      <mat-error *ngIf="user.controls.bornDate.hasError('required')">
        Campo <strong>obrigatório</strong>
      </mat-error>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      [disabled]="!user.valid"
      (click)="handleCreateUser()"
    >
      Salvar
    </button>
    <button mat-raised-button (click)="closeCreateUserModal()">Cancelar</button>
  </form>
</mat-dialog-content>
